[Desktop Entry]
Type=Application
Name=ProtonVPN Startup
Exec=/home/tyler/scripts/protonvpn-startup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
